{% extends 'base.html.twig' %}
{% block title %}
Inscription !
{% endblock %}

{% block body %}
    <h1> Inscription</h1>

    {{ form_start(form) }}
    {{ form_row(form.email,{'label':'Adresse email','attr':{'placeholder':'pedro1234@projectface.com'}}) }}
    {{ form_row(form.username,{'label':'Nom d\'utilisateur ', 'attr':{'placeholder':'exemple: pedro1234'}}) }}
    {{ form_row(form.firstname, {'label':'Prénom','attr':{'placeholder':'firstname'}}) }}
    {{ form_row(form.name, {'label':'Nom de famille ','attr':{'placeholder':'Lastname'}}) }}
    {{ form_row(form.sex, {'label':'Sexe','attr':{'placeholder':'Genre: M/F/N'}}) }}
    {{ form_row(form.password) }}
    {{ form_row(form.confirm_password) }}
    <button type="submit">Valider!</button>
    {{ form_end(form) }}
{% endblock %}



