<!DOCTYPE html>
<html lang="fr">

<meta charset="UTF-8">
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>



{% if app.user %}

    <section class="header">
        <div id="headernav" class="myheadernav">
            <div class="headernavleft">
                <a href="{{ path('home') }}">Accueil</a>
                <a href="{{ path('imperfection_index') }}">Mon imperfection</a>
                <a href="{{ path('home') }}">Ma peau</a>
            </div>
            <div class="headernavcenter">
                <a href="{{ path('home') }}" class="active"> FACE BIO CARE</a>
            </div>
            <div class="headernavright">
                <a href="{{ path('product') }}">Mon produit(test)</a>
                <a href="{{ path('security_logout') }}">Déconnexion</a>
            </div>
        </div>
    </section>

{% else %}



    <section class="header">
        <div id="headernav" class="myheadernav">
            <div class="headernavleft">
                <a href="{{ path('home') }}">Accueil</a>
            </div>
            <div class="headernavcenter">
                <a href="{{ path('home') }}" class="active"> FACE BIO CARE</a>
            </div>
            <div class="headernavright">
                <a href="{{ path('security_login') }}">Connexion</a>
                <a href="{{ path('security_inscription') }}">Inscription</a>
            </div>
        </div>
    </section>

{% endif %}


{% block body %}
{% endblock %}

<section class="footer">
    <div id="footernav">
        <div class="footernavtop">
            <a href="{{ path('home') }}">A propos</a>
            <a href="{{ path('home') }}">Nous contacter</a>
            <a href="{{ path('home') }}">Condition et politique</a>
        </div>
    </div>
</section>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>