{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ encore_entry_link_tags('css/app') }}
     {{ encore_entry_link_tags('css/ins') }}
 {% endblock %}
{% block title %}Mon Imperfection{% endblock %}

{% block body %}
    <div class="body">

        <div class="formimperf">
            <h2> Détails de votre Imperfection : </h2>

            {{ form_start(form) }}
            {{ form_row(form.place) }}
            {{ form_row(form.CategoryImperfection,{'label':'Type de l\'imperfection'}) }}
            <button class="envoyerimperf" type="submit">Valider!</button>
            {{ form_end(form) }}

        </div>
    </div>



{% endblock %}
