{% extends 'base.html.twig' %}

{% block title %}Imperfection index{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
        {{ encore_entry_link_tags('css/imperfection') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('js/visage') }}
    {% endblock %}

{% block body %}

    <div class="body">
        <div class="Visage">
            <div class="Visage-content">
                <H2> Signalez votre imperfection </H2>
                <h3>Merci de bien vouloir selectionner la zone concernée</h3>
                <br>
                <br>
                <div class="imgface">
                <img id ="front" name="front" onclick = "changeImage(id);this.name=name" src="{{ asset('images/facefinal_4.png') }}"><br>
                <img id ="yeux" name="yeux" onclick = "changeImage(id);this.name=name" src="{{ asset('images/facefinal_5.png') }}"><br>
                <img id ="jouegauche" name="joue" onclick = "changeImage(id);this.name=name" src="{{ asset('images/facefinal_6.png') }}">
                <img id ="nez" name="nez" onclick = "changeImage(id);this.name=name" src="{{ asset('images/facefinal_7.png') }}">
                <img id ="jouedroite" name="joue" onclick = "changeImage(id);this.name=name" src="{{ asset('images/facefinal_8.png') }}"><br>
                <img id ="bouche" name="bouche" onclick = "changeImage(id);this.name=name" src="{{ asset('images/facefinal_9.png') }}"><br>
                <img id ="menton" name="menton" onclick = "changeImage(id);this.name=name" src="{{ asset('images/facefinal_10.png') }}"><br>

            </div>
    {#<a href="{{ path('questionnaire',{name : visage.name}) }}"> Suivant </a>#}
        </div>
        </div>
    </div>

    <script>

        function changeImage(id) {

            var image = document.getElementById(id);
            var sPath = document.getElementById(id).src; //
            var s = sPath.substring(sPath.lastIndexOf("/"));


            if (image.src.match("imagesrouge")) {
                image.src = "{{ asset('images')}}"+s;
            }else{
                image.src = "{{ asset('imagesrouge') }}"+s;
            }
        }
    </script>


    {% endblock body %}