{% extends 'base.html.twig' %}

{% block title %}
    Inscription !
{% endblock %}

{% block body %}

    <h1> Inscription </h1>

{{ form_start(formUser) }}

    {{ form_row(formUser.name, {
        'attr':
        {'placeholder':"Votre nom"}}) }}

    {{ form_row(formUser.firstname, {
        'attr':
        {'placeholder':"Votre prennom"}}) }}

    {{ form_row(formUser.email, {
        'attr':
        {'placeholder':"Votre email"}}) }}
    {{ form_row(formUser.sex, {
        'attr':
        {'placeholder':"Votre genre "}}) }}

<button type="submit">
    Enregistrer
</button>
{% endblock %}



